<header class="header-4">
  <div class="branding">
      <a class="nav-link">
          <img width="45" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
          <span class="title">84.51° Angular Initializr</span>
      </a>
  </div>
</header>
<div class="content-container">
  <div class="content-area">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <form>
          <section class="form-block">
              <label>Application Configurations</label>
              <div class="form-group">
                  <label for="appName">Application Name</label>
                  <input type="text" id="appName" name="appName" [(ngModel)]="appName" placeholder="Required" size="45" required>
                  <div *ngIf="appName.invalid && (appName.dirty || appName.touched)"
                  class="alert alert-danger">
                    <div *ngIf="appName.errors.required">
                      Application Name is required
                    </div>
                    <div *ngIf="appname.errors.maxlength">
                      Application Name must be less than 45 characters long.
                    </div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="prefix">Application prefix</label>
                  <input type="text" id="prefix" name="prefix" [(ngModel)]="prefix" placeholder="optional" size="35">
              </div>
              <div class="form-group">
                  <label for="style">Default styling</label>
                  <div class="select">
                      <select id="style" required>
                        <option *ngFor="let option of styleOptions" [value]="option">{{option}}</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                <label>Additional Options</label>
                <div class="checkbox">
                  <input type="checkbox" id="ngrx" name="ngrx" [(ngModel)]="ngrx">
                  <label for="ngrx">Include NGRX? (using nrwl/nx)</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="routing" name="routing" [(ngModel)]="routing">
                  <label for="routing">Create a routing module</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">
                Generate
                <clr-icon shape="install"></clr-icon>
              </button>
          </section>
        </form>
      </div>
      <div class="col=xs-3"></div>
    </div>
  </div>
</div>